<div class="row">
  <div class="col-md-4">
      {{#each this}}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Category: {{> title_text}}</h5>
        <p class="card-text">
          {{> list_text list}}
        </p>
        <a href="#" class="btn btn-primary">Main</a>
      </div>
    </div>
     {{/each}}
  </div>
