
<div class="mx-5">
   <form class="newTopicForm">
    <div class="mb-3">
      <div class="row">
        <div class="col-6">
          <label for="newTopicName" class="form-newTopic text ">Topic Name</label>
          <input type="topic" class="form-control" id="newTopic" aria-describedby="newTopicName">
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col-1">
          <div class="float-right">
            <label for="newTopicItem1" class="text col-form-label">Rank 1</label>
          </div>
        </div>
        <div class="col-4">
          <input type="item" class="form-control" id="newItem1" aria-describedby="newItem1Name">
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <div class="float-right">
            <label for="newTopicItem2" class="text col-form-label">Rank 2</label>
          </div>
        </div>
        <div class="col-4">
          <input type="item" class="form-control" id="newItem2" aria-describedby="newItem2Name">
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <div class="float-right">
            <label for="newTopicItem3" class="text col-form-label">Rank 3</label>
          </div>
        </div>
        <div class="col-4">
          <input type="item" class="form-control" id="newItem3" aria-describedby="newItem3Name">
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <div class="float-right">
            <label for="newTopicItem4" class="text col-form-label">Rank 4</label>
          </div>
        </div>
        <div class="col-4">
          <input type="item" class="form-control" id="newItem4" aria-describedby="newItem4Name">
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <div class="float-right">
            <label for="newTopicItem5" class="text col-form-label">Rank 5</label>
          </div>
        </div>
        <div class="col-4">
          <input type="item" class="form-control" id="newItem5" aria-describedby="newItem5Name">
        </div>
      </div>
    </div>
  </form>
</div>

<button id="createNewTopic" class="btn btn-danger">Submit New Topic</button>

<script src="javascript/createNewTopic.js"></script>