
<link rel="style" href="layouts/public/css/stylesheet.css"
<div> <div class="col-sm-4">
          <div class="card w-50">
            <div class="card-body">
              <h5 class="card-title">Vacation Spots</h5>
              <p class="card-text">
                <table class="table table-striped">
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">1.</li>
                  <li class="list-group-item">2.</li>
                  <li class="list-group-item">3.</li>
                  <li class="list-group-item">4.</li>
                  <li class="list-group-item">5.</li>
                </ul></table>
              </p>
              <a href="#" class="btn btn-primary">Vote</a>
            </div>
          </div>
        </div></div>

<div>You are on the homepage</div>
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{>topic-info post}}
  </li>
  {{/each}}
</ol>
 
