<div class="card-deck container">
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-body" style="max-width: 18rem;">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <button type="button" class="btn btn-info">Info</button>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-body" style="max-width: 18rem;">
      <h5 class="card-title">Topic</h5>
      <p class="card-text"><ol><li>yup</li>
      <li>Coffee</li>
      <li>Words</li>
      <li>more</li>
      <li>hmmm</li></p></ol>
      <button type="button" class="btn btn-info">Vote</button>
     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-body"style="max-width: 18rem;">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
     <button type="button" class="btn btn-info">Vote</button>
  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

